<nav class="sidebar" style="position: fixed; top: 0; left: 0; height: 100%; width: 250px; padding-top: 20px;">
  <div class="p-3">
      <a href="/student-homepage" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
          <span class="text-center nav-link">Student Portal</span>
      </a>
  </div>
  <ul class="nav flex-column">
      <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#manageCoursesDropdown" role="button" aria-expanded="true" aria-controls="manageUsersDropdown">
              Course
          </a>
          <div class="show collapse" id="manageCoursesDropdown">
              <ul class="list-unstyled ps-3">
                  <li><a class="nav-link" href="/courses">View courses</a></li>
                  <li><a class="nav-link" href="/view-calendar">Registered courses</a></li>
                  <li><a class="nav-link" href="/past-courses">History courses</a></li>
              </ul>
          </div>
      </li>
      <li class="nav-item">
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#manageFeedbackDropdown" role="button" aria-expanded="true" aria-controls="manageFeedbackDropdown">
              Feedback
          </a>
          <div class="show collapse" id="manageFeedbackDropdown">
              <ul class="list-unstyled ps-3">
                  <li><a class="nav-link" href="/feedback">Send feedbacks</a></li>
              </ul>
          </div>
      </li>
  </ul>
  <div style="position: absolute; bottom: 20px; width: 100%;">
      <a class="nav-link d-flex align-items-center ps-3" href="/logout">Logout</a>
  </div>    
</nav>

